<form action="/terrorists" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control"placeholder="Name" name="name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>